<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmap.yuezhihui.mapper.spec.SpecInfoMapper">
  <resultMap id="BaseResultMap" type="com.hsmap.yuezhihui.entity.spec.SpecInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="age_" jdbcType="VARCHAR" property="age" />
    <result column="sex_" jdbcType="INTEGER" property="sex" />
    <result column="company_" jdbcType="VARCHAR" property="company" />
    <result column="rank_" jdbcType="VARCHAR" property="rank" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="territory_id" jdbcType="INTEGER" property="territoryId" />
    <result column="territory_name" jdbcType="VARCHAR" property="territoryName" />
    <result column="spec_type_id" jdbcType="INTEGER" property="specTypeId" />
    <result column="spec_type_name" jdbcType="VARCHAR" property="specTypeName" />
    <result column="subdivision_" jdbcType="VARCHAR" property="subdivision" />
    <result column="level_" jdbcType="INTEGER" property="level" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="sort_" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="sign_url" jdbcType="VARCHAR" property="signUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and s.${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    s.id, s.user_name, s.mobile_, s.age_, s.sex_, s.company_, s.rank_,s.title_id, s.territory_id,
     s.spec_type_id, s.subdivision_, s.level_, s.is_del, s.sort_,
    s.create_time, s.remark_, s.card_name, s.identity_no, s.bank_name, s.card_no ,b.name_ as title_name ,c.name_ as territory_name,d.name_ as spec_type_name
  </sql>
  <select id="selectByExample" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    FROM spec_info s
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNumber>0">
      limit ${(pageNumber-1)*pageSize},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM spec_info s
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    where s.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spec_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfoExample">
    delete from spec_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spec_info (user_name, mobile_, age_,
      sex_, company_, rank_,
      title_id, title_name, territory_id,
      territory_name, spec_type_id, spec_type_name,
      subdivision_, level_, is_del,
      sort_, create_time, remark_,
      card_name, identity_no, bank_name,
      card_no)
    values (#{userName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR},
      #{sex,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR},
      #{titleId,jdbcType=INTEGER}, #{titleName,jdbcType=VARCHAR}, #{territoryId,jdbcType=INTEGER},
      #{territoryName,jdbcType=VARCHAR}, #{specTypeId,jdbcType=INTEGER}, #{specTypeName,jdbcType=VARCHAR},
      #{subdivision,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER},
      #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{cardName,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR},
      #{cardNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spec_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="mobile != null">
        mobile_,
      </if>
      <if test="age != null">
        age_,
      </if>
      <if test="sex != null">
        sex_,
      </if>
      <if test="company != null">
        company_,
      </if>
      <if test="rank != null">
        rank_,
      </if>
      <if test="titleId != null">
        title_id,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="territoryId != null">
        territory_id,
      </if>
      <if test="territoryName != null">
        territory_name,
      </if>
      <if test="specTypeId != null">
        spec_type_id,
      </if>
      <if test="specTypeName != null">
        spec_type_name,
      </if>
      <if test="subdivision != null">
        subdivision_,
      </if>
      <if test="level != null">
        level_,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="sort != null">
        sort_,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark_,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=INTEGER},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="territoryId != null">
        #{territoryId,jdbcType=INTEGER},
      </if>
      <if test="territoryName != null">
        #{territoryName,jdbcType=VARCHAR},
      </if>
      <if test="specTypeId != null">
        #{specTypeId,jdbcType=INTEGER},
      </if>
      <if test="specTypeName != null">
        #{specTypeName,jdbcType=VARCHAR},
      </if>
      <if test="subdivision != null">
        #{subdivision,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfoExample" resultType="java.lang.Long">
    select count(*) from spec_info s
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update spec_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile_ = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age_ = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex_ = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.company != null">
        company_ = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null">
        rank_ = #{record.rank,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null">
        title_id = #{record.titleId,jdbcType=INTEGER},
      </if>
      <if test="record.titleName != null">
        title_name = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.territoryId != null">
        territory_id = #{record.territoryId,jdbcType=INTEGER},
      </if>
      <if test="record.territoryName != null">
        territory_name = #{record.territoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.specTypeId != null">
        spec_type_id = #{record.specTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.specTypeName != null">
        spec_type_name = #{record.specTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.subdivision != null">
        subdivision_ = #{record.subdivision,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level_ = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort_ = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark_ = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.cardName != null">
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.identityNo != null">
        identity_no = #{record.identityNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null">
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.signUrl != null">
        sign_url = #{record.signUrl,jdbcType=VARCHAR},
      </if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update spec_info
    set id = #{record.id,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      mobile_ = #{record.mobile,jdbcType=VARCHAR},
      age_ = #{record.age,jdbcType=VARCHAR},
      sex_ = #{record.sex,jdbcType=INTEGER},
      company_ = #{record.company,jdbcType=VARCHAR},
      rank_ = #{record.rank,jdbcType=VARCHAR},
      title_id = #{record.titleId,jdbcType=INTEGER},
      title_name = #{record.titleName,jdbcType=VARCHAR},
      territory_id = #{record.territoryId,jdbcType=INTEGER},
      territory_name = #{record.territoryName,jdbcType=VARCHAR},
      spec_type_id = #{record.specTypeId,jdbcType=INTEGER},
      spec_type_name = #{record.specTypeName,jdbcType=VARCHAR},
      subdivision_ = #{record.subdivision,jdbcType=VARCHAR},
      level_ = #{record.level,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      sort_ = #{record.sort,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      remark_ = #{record.remark,jdbcType=VARCHAR},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      identity_no = #{record.identityNo,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      sign_url = #{record.signUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfo">
    update spec_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile_ = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age_ = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex_ = #{sex,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        company_ = #{company,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank_ = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        title_id = #{titleId,jdbcType=INTEGER},
      </if>
      <if test="titleName != null">
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="territoryId != null">
        territory_id = #{territoryId,jdbcType=INTEGER},
      </if>
      <if test="territoryName != null">
        territory_name = #{territoryName,jdbcType=VARCHAR},
      </if>
      <if test="specTypeId != null">
        spec_type_id = #{specTypeId,jdbcType=INTEGER},
      </if>
      <if test="specTypeName != null">
        spec_type_name = #{specTypeName,jdbcType=VARCHAR},
      </if>
      <if test="subdivision != null">
        subdivision_ = #{subdivision,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level_ = #{level,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort_ = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark_ = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        identity_no = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="signUrl != null">
        sign_url = #{signUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsmap.yuezhihui.entity.spec.SpecInfo">
    update spec_info
    set user_name = #{userName,jdbcType=VARCHAR},
      mobile_ = #{mobile,jdbcType=VARCHAR},
      age_ = #{age,jdbcType=VARCHAR},
      sex_ = #{sex,jdbcType=INTEGER},
      company_ = #{company,jdbcType=VARCHAR},
      rank_ = #{rank,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=INTEGER},
      title_name = #{titleName,jdbcType=VARCHAR},
      territory_id = #{territoryId,jdbcType=INTEGER},
      territory_name = #{territoryName,jdbcType=VARCHAR},
      spec_type_id = #{specTypeId,jdbcType=INTEGER},
      spec_type_name = #{specTypeName,jdbcType=VARCHAR},
      subdivision_ = #{subdivision,jdbcType=VARCHAR},
      level_ = #{level,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      sort_ = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark_ = #{remark,jdbcType=VARCHAR},
      card_name = #{cardName,jdbcType=VARCHAR},
      identity_no = #{identityNo,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      sign_url = #{signUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- 分组下的专家列表 -->
  <resultMap id="GroupSpecInfoMap" type="com.hsmap.yuezhihui.entity.spec.GroupSpecInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="age_" jdbcType="VARCHAR" property="age" />
    <result column="sex_" jdbcType="INTEGER" property="sex" />
    <result column="company_" jdbcType="VARCHAR" property="company" />
    <result column="rank_" jdbcType="VARCHAR" property="rank" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="territory_id" jdbcType="INTEGER" property="territoryId" />
    <result column="territory_name" jdbcType="VARCHAR" property="territoryName" />
    <result column="spec_type_id" jdbcType="INTEGER" property="specTypeId" />
    <result column="spec_type_name" jdbcType="VARCHAR" property="specTypeName" />
    <result column="subdivision_" jdbcType="VARCHAR" property="subdivision" />
    <result column="level_" jdbcType="INTEGER" property="level" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="sort_" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="sign_url" jdbcType="VARCHAR" property="signUrl" />
    <result column="rs_id" jdbcType="INTEGER" property="reviewSpeciaId" />
  </resultMap>
  <select id="selectGroupSpecInfo" parameterType="com.hsmap.yuezhihui.entity.spec.GroupSpecInfo" resultMap="GroupSpecInfoMap">
    select
    s.id, s.user_name, s.mobile_, s.age_, s.sex_, s.company_, s.rank_,s.title_id, s.territory_id,
    s.spec_type_id, s.subdivision_, s.level_, s.is_del, s.sort_,s.create_time, s.remark_, s.card_name, s.identity_no, s.bank_name,
    s.card_no ,b.name_ as title_name ,c.name_ as territory_name,d.name_ as spec_type_name,r.id as rs_id
    FROM review_specialist r
    left join spec_info s on r.spec_id = s.id
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    where r.group_id = #{queryGroupId} and r.is_del = 0 and s.is_del = 0
    order by r.sort_ asc , s.sort_ asc
  </select>


  <!-- 分组下的专家列表 -->
  <resultMap id="BatchSpecInfoMap" type="com.hsmap.yuezhihui.entity.spec.BatchSpecInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="age_" jdbcType="VARCHAR" property="age" />
    <result column="sex_" jdbcType="INTEGER" property="sex" />
    <result column="company_" jdbcType="VARCHAR" property="company" />
    <result column="rank_" jdbcType="VARCHAR" property="rank" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="territory_id" jdbcType="INTEGER" property="territoryId" />
    <result column="territory_name" jdbcType="VARCHAR" property="territoryName" />
    <result column="spec_type_id" jdbcType="INTEGER" property="specTypeId" />
    <result column="spec_type_name" jdbcType="VARCHAR" property="specTypeName" />
    <result column="subdivision_" jdbcType="VARCHAR" property="subdivision" />
    <result column="level_" jdbcType="INTEGER" property="level" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="sort_" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="sign_url" jdbcType="VARCHAR" property="signUrl" />
    <result column="rbs_id" jdbcType="INTEGER" property="reviewBatchSpecId" />
  </resultMap>
  <select id="selectBatchSpecInfoList" parameterType="com.hsmap.yuezhihui.entity.spec.BatchSpecInfo" resultMap="BatchSpecInfoMap">
    select
    s.id, s.user_name, s.mobile_, s.age_, s.sex_, s.company_, s.rank_,s.title_id, s.territory_id,
    s.spec_type_id, s.subdivision_, s.level_, s.is_del, s.sort_,s.create_time, s.remark_, s.card_name, s.identity_no, s.bank_name,
    s.card_no ,b.name_ as title_name ,c.name_ as territory_name,d.name_ as spec_type_name,r.id rbs_id
    FROM review_batch_specialist r
    left join spec_info s on r.spec_id = s.id
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    <where>
      r.batch_id = #{queryBatchId} and r.is_del = 0 and r.is_use = 0 and s.is_del = 0
      <if test="territoryId!=null and territoryId > 0"> and s.territory_id = #{territoryId} </if>
      <if test="level!=null and level > 0"> and s.level_ = #{level} </if>
      <if test="specTypeId!=null and specTypeId > 0"> and s.spec_type_id = #{specTypeId} </if>
      <if test="titleId!=null and titleId > 0"> and s.title_id = #{titleId} </if>
      <if test="subdivision!=null and subdivision !=''"> and s.subdivision_ like "%"#{subdivision}"%" </if>
      <if test="userName!=null and userName !=''"> and s.user_name like "%"#{userName}"%" </if>
    </where>
    order by s.sort_ asc , s.id asc
    <if test="pageNumber>0">
      limit ${(pageNumber-1)*pageSize},${pageSize}
    </if>
  </select>
  <select id="selectBatchSpecInfoCount" parameterType="com.hsmap.yuezhihui.entity.spec.BatchSpecInfo" resultType="java.lang.Long">
    select COUNT(1) FROM review_batch_specialist r
    left join spec_info s on r.spec_id = s.id
    left join core_title b on s.title_id = b.id
    left join core_territory c on s.territory_id = c.id
    left join core_spec_type d on s.spec_type_id = d.id
    <where>
      r.batch_id = #{queryBatchId} and r.is_del = 0 and r.is_use = 0 and s.is_del = 0
      <if test="territoryId!=null and territoryId > 0"> and s.territory_id = #{territoryId} </if>
      <if test="level!=null and level > 0"> and s.level_ = #{level} </if>
      <if test="specTypeId!=null and specTypeId > 0"> and s.spec_type_id = #{specTypeId} </if>
      <if test="titleId!=null and titleId > 0"> and s.title_id = #{titleId} </if>
      <if test="subdivision!=null and subdivision !=''"> and s.subdivision_ like "%"#{subdivision}"%" </if>
      <if test="userName!=null and userName !=''"> and s.user_name like "%"#{userName}"%" </if>
    </where>
  </select>
</mapper>
