<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmap.yuezhihui.mapper.sys.SysMenuInfoMapper">
  <resultMap id="BaseResultMap" type="com.hsmap.yuezhihui.entity.sys.SysMenuInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="size_" jdbcType="INTEGER" property="size" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="type_" jdbcType="VARCHAR" property="type" />
    <result column="parent_" jdbcType="INTEGER" property="parent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="sort_" jdbcType="INTEGER" property="sort" />
    <result column="regular_" jdbcType="VARCHAR" property="regular" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, url_, size_, name_, type_, parent_, create_time, is_del, sort_, regular_
  </sql>
  <select id="selectByExample" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_menu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNumber>0">
      limit ${(pageNumber-1)*pageSize},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfoExample">
    delete from sys_menu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu_info (url_, size_, name_,
      type_, parent_, create_time,
      is_del, sort_, regular_
      )
    values (#{url,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{isDel,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{regular,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url_,
      </if>
      <if test="size != null">
        size_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="type != null">
        type_,
      </if>
      <if test="parent != null">
        parent_,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="sort != null">
        sort_,
      </if>
      <if test="regular != null">
        regular_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="regular != null">
        #{regular,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfoExample" resultType="java.lang.Long">
    select count(*) from sys_menu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_menu_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        url_ = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size_ = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type_ = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.parent != null">
        parent_ = #{record.parent,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort_ = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.regular != null">
        regular_ = #{record.regular,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_menu_info
    set id = #{record.id,jdbcType=INTEGER},
      url_ = #{record.url,jdbcType=VARCHAR},
      size_ = #{record.size,jdbcType=INTEGER},
      name_ = #{record.name,jdbcType=VARCHAR},
      type_ = #{record.type,jdbcType=VARCHAR},
      parent_ = #{record.parent,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_del = #{record.isDel,jdbcType=INTEGER},
      sort_ = #{record.sort,jdbcType=INTEGER},
      regular_ = #{record.regular,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfo">
    update sys_menu_info
    <set>
      <if test="url != null">
        url_ = #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size_ = #{size,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type_ = #{type,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        parent_ = #{parent,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort_ = #{sort,jdbcType=INTEGER},
      </if>
      <if test="regular != null">
        regular_ = #{regular,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsmap.yuezhihui.entity.sys.SysMenuInfo">
    update sys_menu_info
    set url_ = #{url,jdbcType=VARCHAR},
      size_ = #{size,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      type_ = #{type,jdbcType=VARCHAR},
      parent_ = #{parent,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      sort_ = #{sort,jdbcType=INTEGER},
      regular_ = #{regular,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
