<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmap.yuezhihui.mapper.core.CoreTaskInfoMapper">
  <resultMap id="BaseResultMap" type="com.hsmap.yuezhihui.entity.core.CoreTaskInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_" jdbcType="INTEGER" property="type" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="success_count" jdbcType="INTEGER" property="successCount" />
    <result column="error_count" jdbcType="INTEGER" property="errorCount" />
    <result column="status_" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type_, name_, batch_id, file_url, total_count, success_count, error_count,
    status_, is_del, create_time, remark_
  </sql>
  <select id="selectByExample" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from core_task_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNumber>0">
      limit ${(pageNumber-1)*pageSize},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from core_task_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from core_task_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfoExample">
    delete from core_task_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into core_task_info (type_, name_, batch_id,
      file_url, total_count, success_count,
      error_count, status_, is_del,
      create_time, remark_)
    values (#{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{batchId,jdbcType=INTEGER},
      #{fileUrl,jdbcType=VARCHAR}, #{totalCount,jdbcType=INTEGER}, #{successCount,jdbcType=INTEGER},
      #{errorCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into core_task_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="successCount != null">
        success_count,
      </if>
      <if test="errorCount != null">
        error_count,
      </if>
      <if test="status != null">
        status_,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null">
        #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfoExample" resultType="java.lang.Long">
    select count(*) from core_task_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update core_task_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type_ = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.batchId != null">
        batch_id = #{record.batchId,jdbcType=INTEGER},
      </if>
      <if test="record.fileUrl != null">
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.totalCount != null">
        total_count = #{record.totalCount,jdbcType=INTEGER},
      </if>
      <if test="record.successCount != null">
        success_count = #{record.successCount,jdbcType=INTEGER},
      </if>
      <if test="record.errorCount != null">
        error_count = #{record.errorCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status_ = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark_ = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update core_task_info
    set id = #{record.id,jdbcType=INTEGER},
      type_ = #{record.type,jdbcType=INTEGER},
      name_ = #{record.name,jdbcType=VARCHAR},
      batch_id = #{record.batchId,jdbcType=INTEGER},
      file_url = #{record.fileUrl,jdbcType=VARCHAR},
      total_count = #{record.totalCount,jdbcType=INTEGER},
      success_count = #{record.successCount,jdbcType=INTEGER},
      error_count = #{record.errorCount,jdbcType=INTEGER},
      status_ = #{record.status,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      remark_ = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfo">
    update core_task_info
    <set>
      <if test="type != null">
        type_ = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        success_count = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null">
        error_count = #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status_ = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark_ = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsmap.yuezhihui.entity.core.CoreTaskInfo">
    update core_task_info
    set type_ = #{type,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
        batch_id = #{batchId,jdbcType=INTEGER},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      total_count = #{totalCount,jdbcType=INTEGER},
      success_count = #{successCount,jdbcType=INTEGER},
      error_count = #{errorCount,jdbcType=INTEGER},
      status_ = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark_ = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
