<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
    <title>专家库管理</title>
</head>

<body>
<div th:replace="common/child_nav :: child_nav">

</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="from_serach">
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="territoryId" id="territoryId">
                                <option value="0">选择专业领域</option>
                                <option th:selected="${item.id} eq ${query.territoryId}" th:each="item:${coreTerritory}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="sex" id="sex">
                                <option value="-1">选择性别</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="titleId" id="titleId">
                                <option value="0">选择职称</option>
                                <option th:selected="${item.id} eq ${query.titleId}" th:each="item:${CoreTitle}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="specTypeId" id="specTypeId">
                                <option value="0">选择专业类别</option>
                                <option th:selected="${item.id} eq ${query.specTypeId}" th:each="item:${CoreSpecType}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="level" id="level">
                                <option value="0">选择星级</option>
                                <option value="1">1星</option>
                                <option value="2">2星</option>
                                <option value="3">3星</option>
                                <option value="4">4星</option>
                                <option value="5">5星</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="userName" id="userName" th:value="${query.userName}" placeholder="请输入专家姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input th:value="${batchId}" name="id" id="id" type="hidden"/>
                            <input th:value="${pageInfo.number}" name="pageNumber" id="pageNumber" value="0" type="hidden"/>
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>查询</button>
                            <button class="layui-btn" lay-filter="add" lay-submit="">
                                <i class="layui-icon">&#xe654;</i>确定</button>
                            <button class="layui-btn" id="back">关闭</button>
                        </div>

                    </form>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 25px">
                                <input type="checkbox" value="0" lay-filter="checkall" name="id" lay-skin="primary">
                            </th>
                            <th width="5%">序号</th>
                            <th  width="5%">姓名</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th  width="10%">单位</th>
                            <th>职位</th>
                            <th>职称</th>
                            <th>联系电话</th>
                            <th>专业领域</th>
                            <th>细分领域</th>
                            <th>专家类别</th>
                            <th>评价星级</th>
                            <th>备注</th>
                        </thead>
                        <tbody>
                        <tr th:each="model,stat:${pageInfo.content}">
                            <td>
                                <input type="checkbox" name="id" th:value="${model.id}"   lay-skin="primary">
                            </td>
                            <td th:text="${stat.count}">0</td>
                            <td th:text="${model.userName}"></td>
                            <td th:text="${model.age}"></td>
                            <td th:text="${model.sex}==0?'女':'男'"></td>
                            <td th:text="${model.company}"></td>
                            <td th:text="${model.rank}"></td>
                            <td th:text="${model.titleName}"></td>
                            <td th:text="${model.mobile}"></td>
                            <td th:text="${model.territoryName}"></td>
                            <td th:text="${model.subdivision}"></td>
                            <td th:text="${model.specTypeName}"></td>
                            <td th:text="${model.level}"></td>
                            <td th:text="${model.remark}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div th:replace="common/pageinfo :: pageinfo">
                        </div>
                    </div>
                </div>

            </div>


        </div>



    </div>
</div>
</body>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var $ = layui.jquery;
        var batchId=$("#id").val();
        console.log($("#id").val())
        // 监听全选
        form.on('checkbox(checkall)', function(data){
            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        form.on('submit(sreach)', function (data) {
            console.log("sreach.....");

            //form.submit();
            $("#pageNumber").val(1);
            $("#batchId").val();
            $("#from_serach").submit();
            return false;
        });
        //监听提交
        form.on('submit(add)',
            function (data) {
                // var batchId=[[${batchId}]];
                var selectedData = [];

                $(":checkbox:checked").each(function(){
                    var ids =[];
                    if($(this).prop('checked')){
                        console.log("id----->"+$(this).val());
                        if($(this).val()>0){
                        ids.push($(this).val());
                        }
                    }

                    selectedData.push({id:ids.toString()});
                });
                console.log(selectedData)
                    $.ajax({
                        type: "POST",
                        url: "./addSelectSpec?id=" + batchId,
                        data: JSON.stringify(selectedData),
                        headers: {"content-type": "application/json;charset=UTF-8"},
                        dataType: 'json',
                        success: function (data) {
                            console.log("data->code:" + data.code);
                            if (data.code == 0) {
                                layui.layer.alert("添加成功", {
                                        icon: 6
                                    },
                                    function () {
                                        //关闭当前frame
                                        xadmin.close();

                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                            } else {
                                layer.alert("新增批次专家失败<br/>" + data.msg, {icon: 2},
                                    function () {
                                        //关闭当前frame
                                        xadmin.close();

                                        // 可以对父窗口进行刷新
                                        // xadmin.father_reload();
                                    });
                                //
                            }
                        },
                        error: function (data) {
                            layer.alert("请选择批次专家<br/>", {icon: 2});
                        }
                    });

                return false;
            });

        //关闭当前frame
        $("#back").on('click',function(){
            xadmin.close();
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });



    });

    function onpage(pageNumber,batchId) {
        $("#pageNumber").val(pageNumber);
        $("#batchId").val(batchId);
        console.log("pageNumber:"+pageNumber)
        console.log("batchId:"+batchId)

        $("#from_serach").submit();


    };




    function editInput(id) {
        xadmin.open('编辑专家库管理','./editInput?id='+id,960,640);

    }

    // $("#from_serach").onclick(function(){
    //     $("#from_serach").submit();
    //
    // });
    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

</script>
</html>
