<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
    <head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
        <title>修改菜单</title>
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span>菜单名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" name="name" th:value="${menuInfo.name}" placeholder="请输入菜单名称" lay-verify="name_verify" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
<!--                        <div class="layui-form-mid layui-word-aux">-->
<!--                            <span class="x-red">*</span>将会成为您唯一的登入名-->
<!--                        </div>-->
                    </div>
                    <div class="layui-form-item">
                        <label for="url" class="layui-form-label">
                            <span class="x-red">*</span>URL
                        </label>
                        <div class="layui-input-inline">
                            <input th:value="${menuInfo.id}" type="hidden" name="id" id="id"/>
                            <input type="text" id="url" name="url" required=""  th:value="${menuInfo.url}" lay-verify="url_verify"
                                   autocomplete="off" placeholder="请输入URL" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="parent" class="layui-form-label">
                            <span class="x-red">*</span>所属菜单
                        </label>
                        <div class="layui-input-inline">

                            <select name="parent" id="parent" >
                                <option th:selected="${menuInfo.parent} eq 0" value="0" th:value="0" th:text="系统菜单"></option>
                                <option th:selected="${menuInfo.parent} eq ${menu.key}" th:each="menu:${parentMap}" th:value="${menu.key}" th:text="${menu.value}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="parent" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="edit" lay-submit="">修改</button>
                    </div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer', 'jquery'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    url_verify: function (value) {
                        if (value.length < 5) {
                            return 'URL至少不小于得5个字符';
                        }
                    },
                    name_verify: function (value) {
                        if (value.length < 2) {
                            return '菜单名称不少于2个字符';
                        }
                    }
                    //pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    // repass: function (value) {
                    //     if ($('#L_pass').val() != $('#L_repass').val()) {
                    //         return '两次密码不一致';
                    //     }
                    // }
                });

                //监听提交
                form.on('submit(edit)',
                    function (data) {
                        console.log(data);
                        console.log(data.field);
                        //发异步，把数据提交给php
                        $.ajax({
                            type: "POST",
                            url: "./edit",
                            data:data.field,
                            dataType:'json',
                            success:function (data) {
                                console.log("data->code:"+data.code);
                                if (data.code == 0) {
                                    console.log("修改成功。。。。。");
                                    layui.layer.alert("修改成功", {
                                            icon: 6
                                        },
                                        function () {
                                            //关闭当前frame
                                            xadmin.close();
                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });

                                } else {
                                    layer.alert("修改失败", {
                                            icon: 2
                                        },
                                        function () {
                                        });
                                //
                                }
                            },
                            error:function (data) {
                                alert("提交失败"+JSON.stringify(data));
                            }
                        });

                        return false;
                    });

            });</script>

    </body>

</html>
