<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
    <head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
        <title th:if="${type} eq 1">修改短信黑名单</title>
        <title th:if="${type} eq 2">修改短信白名单</title>
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="mobile" class="layui-form-label">
                            <span class="x-red">*</span>手机号码
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="mobile" name="mobile" th:value="${blacklist.mobile}" placeholder="请输手机号码" lay-verify="required" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
<!--                        <div class="layui-form-mid layui-word-aux">-->
<!--                            <span class="x-red">*</span>将会成为您唯一的登入名-->
<!--                        </div>-->
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label for="remark" class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="remark" th:value="${blacklist.remark}" th:text="${blacklist.remark}" name="remark" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="remark" class="layui-form-label"></label>
                        <input name="id" id="id" type="hidden" th:value="${blacklist.id}"/>
                        <button class="layui-btn" lay-filter="add" lay-submit="">修改</button>
                    </div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer', 'jquery'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    mobile_verify: function (value) {
                        if (value.length < 5) {
                            return 'URL至少不小于得5个字符';
                        }
                    },
                    name_verify: function (value) {
                        if (value.length < 2) {
                            return '菜单名称不少于2个字符';
                        }
                    }
                    //pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    // repass: function (value) {
                    //     if ($('#L_pass').val() != $('#L_repass').val()) {
                    //         return '两次密码不一致';
                    //     }
                    // }
                });

                //监听提交
                form.on('submit(add)',
                    function (data) {
                        console.log(data);
                        console.log(data.field);
                        //发异步，把数据提交给php
                        $.ajax({
                            type: "POST",
                            url: "./edit",
                            data:data.field,
                            dataType:'json',
                            success:function (data) {
                                console.log("data->code:"+data.code);
                                if (data.code == 0) {
                                    layui.layer.alert("修改成功", {
                                            icon: 6
                                        },
                                        function () {
                                            //关闭当前frame
                                            xadmin.close();

                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });

                                } else {
                                    layer.alert("修改失败<br/>"+data.msg, {
                                            icon: 2
                                        });
                                }
                            },
                            error:function (data) {
                                alert("提交失败"+JSON.stringify(data));
                            }
                        });

                        return false;
                    });

            });</script>

    </body>

</html>
