<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
    <title th:if="${type} eq 1">短信黑名单管理</title>
    <title th:if="${type} eq 2">短信白名单管理</title>
</head>

<body>
<div th:replace="common/child_nav :: child_nav">

</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="from_serach">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="mobile" id="mobile" th:value="${mobile}" placeholder="请输入要查询的名称" autocomplete="off" class="layui-input"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input th:value="${pageInfo.number}" name="pageNumber" id="pageNumber" value="0" type="hidden"/>
                            <input th:value="${type}" name="type" id="type" value="1" type="hidden"/>

                            <button class="layui-btn" lay-submit="" lay-filter="sreach">

                                <i class="layui-icon">&#xe615;</i>查询</button>
                        </div>
                    </form>
                </div>


                <div class="layui-card-header">
                    <!--                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                    <button class="layui-btn" th:onclick="addInput([[${type}]])"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
<!--                            <th>-->
<!--                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">-->
<!--                            </th>-->
                            <th>序号</th>
                            <th>手机号码</th>
                            <th>创建时间</th>
                            <th>操作</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="black,stat:${pageInfo.content}">
<!--                            <td>-->
<!--                                <input type="checkbox" name="id" value="1"   lay-skin="primary">-->
<!--                            </td>-->
                            <td th:text="${stat.count}">0</td>
                            <td th:text="${black.mobile}"></td>
                            <td th:text="${#dates.format(black.createTime,'yyyy-MM-dd')}"></td>

                            <td class="td-manage">
                                <a title="编辑"  th:if="${black.isDel eq 0}" th:onclick="editInput([[${black.id}]])" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>编辑
                                </a>
                                <a title="删除" th:if="${black.isDel eq 0}" th:onclick="black_del([[${black.id}]])" href="javascript:void(0);">
                                    <i class="layui-icon">&#xe640;</i>删除
                                </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div th:replace="common/pageinfo :: pageinfo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var $ = layui.jquery;
        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        form.on('submit(sreach)', function (data) {
            console.log("sreach.....");

            //form.submit();
            $("#pageNumber").val(1);
            $("#from_serach").submit();
            return false;
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });



    });

    function onpage(pageNumber) {
        $("#pageNumber").val(pageNumber);
        console.log("pageNumber:"+pageNumber)

        $("#from_serach").submit();


    };




    function editInput(id) {
        xadmin.open('编辑名单','../editInput?id='+id,500,300);

    }

    function addInput(type) {
        // xadmin.open('编辑菜单','./editInput?id='+id,600,400);
        $name = "添加名单";
        if (type == 1) {
            $name = "添加黑名单";
        }else{
            $name = "添加白名单";
        }
        xadmin.open($name,'../addInput/'+type,500,300);

    }


    // $("#from_serach").onclick(function(){
    //     $("#from_serach").submit();
    //
    // });


    /*-删除*/
    function black_del(id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: "POST",
                url: "../delete",
                data:{id:id,type:type},
                dataType:'json',
                success:function (data) {
                    console.log("data->code:"+data.code);
                    if (data.code == 0) {

                        layui.layer.alert("删除成功", {
                                icon: 6
                            },
                            function () {
                                // 进行刷新
                                location.reload();
                            });
                    } else {
                        layer.alert("删除失败", {
                                icon: 2
                            });
                    }
                },
                error:function (data) {
                    alert("提交失败"+JSON.stringify(data));
                }
            });
            return false;
        });
    }
</script>
</html>
