<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
    <title>评审设置</title>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red"></span>当前批次名称
                </label>
                <div class="layui-input-block">
                    <input type="text"  th:value="${batchName}" class="layui-input"  readonly>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="startFlag" class="layui-form-label">
                    <span class="x-red">*</span>是否开启评审
                </label>
                <div class="layui-input-block">
                    <input type="checkbox" name="startFlag" id="startFlag"  value="1"  th:checked="${config.startFlag == 1}" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="dateRange" class="layui-form-label">
                    <span class="x-red">*</span>评审时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" style="width:350px;" name="dateRange" id="dateRange" lay-verify="required" required="" placeholder=" - " autocomplete="off" class="layui-input"  th:value="${dateRange}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="noticeMsg" class="layui-form-label">
                    <span class="x-red">*</span>未开启提示
                </label>
                <div class="layui-input-block">
                    <input type="text" name="noticeMsg" id="noticeMsg" lay-verify="required" required="" autocomplete="off" class="layui-input"  th:value="${config.noticeMsg}">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label for="noticeContent" class="layui-form-label">
                    评审须知
                </label>
                <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="noticeContent" th:text="${config.noticeContent}" lay-verify="content_verify" name="noticeContent"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="noticeContent" class="layui-form-label"></label>
                <input type="hidden" id="batchId" name="batchId" th:value="${config.batchId}"/>
                <button class="layui-btn" lay-filter="add" lay-submit="">保存</button>
            </div>
        </form>
    </div>
</div>
<script>
    var editIndex;
    layui.use(['form', 'layer', 'jquery','laydate'],
    function () {
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer,laydate = layui.laydate;
        var layedit;

        laydate.render({
            elem: '#dateRange'
            ,type: 'datetime'
            ,range: true
          });

        layui.use('layedit', function(){
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'|' //分割线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'image' //插入图片
            ]
            layedit = layui.layedit;
            layedit.set({

                uploadImage: {
                    url: '../images/layeditUploadImg',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: 1024 * 10,
                    data:{"title":"test"},
                    done: function (data) {
                        console.log(data);
                    }
                }
            });
            editIndex =layedit.build('noticeContent'); //建立编辑器
        });
        layui.use('upload', function(){
            var upload = layui.upload;

            //执行实例
            var uploadInst = upload.render({
                elem: '#myfiles' //绑定元素
                ,url: '../images/upload' //上传接口
                ,accept:"images",
                data:{"type":"banner"}
                ,done: function(res){
                    //上传完毕回调
                    //alert(res.msg);
                    if(res.code ==0) {
                        console.log(JSON.stringify(res.data));
                        $("#myfiles").html("<i class=\"layui-icon\">&#xe67c;</i>续续上传");
                        // console.log("url:"+res.data.url)
                        // console.log("path:"+res.data.path)
                        //$("#view_img").attr('src',_img_dom+res.data.thumImgUrl);
                        // $("#view_img").show();
                        // $("#logo").val(res.data.path);
                        $("#img_item").append(getImgHtml(_img_dom+res.data.thumImgUrl,res.data.id));
                    }else{
                        layer.alert("上传失败<br/>"+res.msg, {
                            icon: 2
                        });
                        return;
                    }
                }
                ,error: function(){
                    //请求异常回调
                    alert(res.msg);
                }
            });
        });




        //自定义验证规则
        form.verify({
            url_verify: function (value) {
                if (value.length < 5) {
                    return 'URL至少不小于得5个字符';
                }
            },
            name_verify: function (value) {
                if (value.length < 2) {
                    return '菜单名称不少于2个字符';
                }
            }, content_verify: function(value) {
                // 将富文本编辑器的值同步到之前的textarea中
                layedit.sync(editIndex);
            }
            //pass: [/(.+){6,12}$/, '密码必须6到12位'],
            // repass: function (value) {
            //     if ($('#L_pass').val() != $('#L_repass').val()) {
            //         return '两次密码不一致';
            //     }
            // }
        });

        //监听提交
        form.on('submit(add)',
            function (data) {
                //发异步，把数据提交给php
                console.log("startFlag:"+data.field.startFlag);
                if(data.field.startFlag == "1") {
                    data.field.startFlag = "1";
                } else {
                    data.field.startFlag = "0";
                }
                console.log(data.field);
                $.ajax({
                    type: "POST",
                    url: "./notice",
                    data:data.field,
                    dataType:'json',
                    success:function (data) {
                        console.log("data->code:"+data.code);
                        if (data.code == 0) {
                            layui.layer.alert("修改成功", {
                                    icon: 6
                                },
                                function () {
                                    location.reload();
                                });

                            // return true;

                        } else {
                            layer.alert("修改失败", {
                                    icon: 2
                                },
                                function () {
                                    //关闭当前frame
                                    // xadmin.close();

                                    // 可以对父窗口进行刷新
                                    // xadmin.father_reload();
                                });
                            //
                        }
                    },
                    error:function (data) {
                        alert("提交失败"+JSON.stringify(data));
                    }
                });

                return false;
            });

    });</script>

</body>

</html>
