<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
    <head th:replace="common/header :: common_header(~{::title},~{::link},~{})">
        <title>修改用户</title>
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>登录名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text"  th:value="${userInfo.loginName}" required="" disabled
                                   autocomplete="off" placeholder="" class="layui-input">

                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>登录名不可修改
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="userName" class="layui-form-label">
                            角色
                        </label>
                        <div class="layui-input-inline">
                            <select name="role" id="role" >
                                <option   th:selected="${userInfo.role} eq ${role.id}" th:each="role:${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="userName" class="layui-form-label">
                            姓名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="userName" th:value="${userInfo.userName}" name="userName" required=""
                                   autocomplete="off" placeholder="请输入姓名" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="phone" class="layui-form-label">
                            联系电话
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone" th:value="${userInfo.phone}" name="phone" required=""
                                   autocomplete="off" placeholder="请输入联系电话" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="email" class="layui-form-label">
                            邮箱
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="email" name="email" th:value="${userInfo.email}" required=""
                                   autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="address" class="layui-form-label">
                            地址
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="address" name="address" th:value="${userInfo.address}" required=""
                                   autocomplete="off" placeholder="请输入地址" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="remark" class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="remark" name="remark" th:value="${userInfo.remark}" th:text="${userInfo.remark}" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="remark" class="layui-form-label"></label>
                        <input type="hidden" id="id" name="id" th:value="${userInfo.id}">
                        <button class="layui-btn" lay-filter="edit" lay-submit="">修改</button>
                    </div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer', 'jquery'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    url_verify: function (value) {
                        if (value.length < 5) {
                            return 'URL至少不小于得5个字符';
                        }
                    },
                    name_verify: function (value) {
                        if (value.length < 2) {
                            return '登录名称不少于4个字符';
                        }
                    },
                    passwd: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function (value) {
                        if ($('#passwd').val() != $('#repasswd').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(edit)',
                    function (data) {
                        console.log(data);
                        console.log(data.field);
                        //发异步，把数据提交给php
                        $.ajax({
                            type: "POST",
                            url: "./edit",
                            data:data.field,
                            //contentType : "application/json;charsetset=UTF-8",
                            dataType:'json',
                            success:function (data) {
                                console.log("data->code:"+data.code);
                                if (data.code == 0) {
                                    layui.layer.alert("修改成功", {
                                            icon: 6
                                        },
                                        function () {
                                            //关闭当前frame
                                            xadmin.close();

                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });

                                    console.log("添加成功。。。。。111");
                                    // return true;

                                } else {
                                    layer.alert("修改失败<br/>"+data.msg, {
                                            icon: 2
                                        }
                                        // ,
                                        // function () {
                                        //     //关闭当前frame
                                        //     // xadmin.close();
                                        //     layer.close(this);
                                        //
                                        //     // 可以对父窗口进行刷新
                                        //     // xadmin.father_reload();
                                        // }
                                        );
                                //
                                }
                            },
                            error:function (data) {
                                alert("提交失败"+JSON.stringify(data));
                            }
                        });

                        return false;
                    });

            });</script>

    </body>

</html>
